<header>
    <nav class = "navbar navbar-expand-lg navbar-dark bg-dark">
        <div>
            <a href = "https://github.com/Rohan9841" class = "navbar-brand">Rohan Maharjan</a>
        </div>

        <ul class = "navbar-nav">
            <li><a routerLink = "/authors" class = 'nav-link'>Authors</a></li>
            <li><a routerLink = "/books" class = "nav-link">Books</a></li>
            <li><a routerLink = "/publishers" class = "nav-link">Publishers</a></li>
        </ul>
    </nav>
</header>
